<h1>ユーザー情報を編集する</h1>
<hr>
<%= form_for @user do |f| %>
  <p>名字</p>
  <%= f.text_field :family_name, :class => "form-control my-form" %>
  <p>名前</p>
  <%= f.text_field :first_name, :class => "form-control my-form" %>
  <p>自己紹介</p>
  <%= f.text_area :self_introduction, :class => "form-control my-form" %>
  <hr>
  <%= f.submit "登録する", :class => "btn btn-primary" %>
<% end %>
<hr>
<p>
  <%= link_to 'ユーザーリストに戻る', users_path, class:"btn btn-primary" %>
</p>
