<h1>ユーザーリスト</h1>
<hr>
<% @users.each do |u| %>
  <p><a href="/users/<%= u.id %>"><%= u.family_name %><%= u.first_name %>さん</a></p>
  <hr>
<% end %>
<p>
 <%= link_to 'トップに戻る', posts_path, class:"btn btn-info" %>
</p>
