<h1>ユーザー情報を変更しました。</h1>
<hr>
<p>名前：<%= @user.family_name %><%= @user.first_name %>さん</p>
<p>自己紹介：<%= @user.self_introduction %></p>
<hr>
<p>
  <%= link_to 'ユーザーリストに戻る', users_path, class:"btn btn-primary" %>
</p>
<p><a href="/users/<%= @user.id %>/edit" class="btn btn-success">ユーザー情報の編集に戻る</a></p>
<p>
  <%= link_to 'トップに戻る', posts_path, class:"btn btn-info" %>
</p>