<h2>ミニゲーム</h2><hr>
<br><p>
<%= link_to "ジャンケンをする", janken_janken_path, class:"btn btn-success" %>
</p>
<br><hr>
<p>
  <a class="btn btn-danger"　href="/users/<%= current_user.id %>"><%= current_user.family_name %><%= current_user.first_name %>さんのユーザ情報</a>
</p>
<p>
 <%= link_to 'ユーザーリストに戻る', users_path, class:"btn btn-primary" %>
</p>
<p>
 <%= link_to 'トップに戻る', posts_path, class:"btn btn-info" %>
</p>
