ジャンケン<br><hr>

<%= flash.now[:aiko] %><br>
<%= link_to "グー", janken_point_path(player_hand: 0), class:"btn btn-default" %>
<%= link_to "チョキ", janken_point_path(player_hand: 1),class:"btn btn-default" %>
<%= link_to "パー", janken_point_path(player_hand: 2), class:"btn btn-default" %>
<br><br>
