<h2>チャット情報を編集する</h2>
<hr>
<%= form_for @room do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control my-form", :placeholder => "名前を入力" %>
  <br>
  <%= f.label :explain %>
  <%= f.text_area :explain, :class => "form-control my-form", :size => "30x10", :placeholder => "説明を入力" %>
  <br>
  <%= f.submit "変更する", :class => "btn btn-success" %>
<% end %>
<hr>
<p><a href="/rooms/<%= @room.id %>" class="btn btn-primary">チャット情報に戻る</a></p>
<p>
 <%= link_to 'トップに戻る', posts_path, class:"btn btn-info" %>
</p>