<h1>投稿を削除しました</h1>
<hr>
<p>名前：<%= @user.family_name %><%= @user.first_name %></p>
<p>内容：<%= @post.content %></p>
<p>性別：<%= @post.sex %></p>
<hr>
<p>
  <%= link_to '投稿に戻る', posts_path,class:"btn btn-info" %>
</p>