<h1>投稿を編集する</h1>
<hr>
<%= form_for @post do |f| %>
  <p>内容</p>
  <%= f.text_area :content, :class => "form-control" %>
  <br>
  <p>性別</p>
  <%= f.text_field :sex, :class => "form-control" %>
  <br>
  <hr>
  <%= f.submit "変更する" %>
<% end %>
<hr>
<p>
  <%= link_to '投稿に戻る', posts_path,class:"btn btn-info" %>
</p>
