<h1>投稿一覧</h1>
<hr>
<% @posts.each do |p| %>
  <p><a href="/users/<%= p.user_id %>"><%= User.find(p.user_id).family_name %><%= User.find(p.user_id).first_name %>さん</a>の投稿</p>
  <h3><a href="/posts/<%= p.id %>"><%= p.content %></a></h3>
  <hr>
<% end %>
<p>
  <%= link_to '新しく投稿する', new_post_path, class:"btn btn-info"  %>
</p>