<h1>投稿を作る</h1>
<hr>
<%= form_for @post do |f| %>
  <p>内容</p>
  <%= f.text_area :content, :class => "form-control my-form" %>
  <br>
  <p>性別</p>
  <%= f.text_field :sex, :class => "form-control my-form" %>
  <hr>
  <%= f.submit "登録する", :class => "btn btn-primary"%>
<% end %>
<hr>
<p>
<%= link_to 'トップに戻る', posts_path, class:"btn btn-info" %>
</p>