<h1>投稿を変更しました。</h1>
<hr>
<p>名前：<%= @user.family_name %><%= @user.first_name %></p>
<p>内容：<%= @post.content %></p>
<p>性別：<%= @post.sex %></p>
<hr>
<%= link_to 'トップに戻る', posts_path, class:"btn btn-info" %>