<!DOCTYPE html>
<html>
<head>
  <title>OnlineGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
     </button>
     <a href="/posts" class="navbar-brand">OnlineGame</a>
   </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><a href="/users">ユーザーリスト</a></li>
      <li><a href="/users/<%= current_user.id %>"><%= current_user.family_name %><%= current_user.first_name %>さん</a></li>
      <li><a href="/janken/index">ミニゲーム</a></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li><a href="/users/sign_up">登録する</a></li>
      <li><a href="/users/sign_in">ログインする</a></li>
      <% end %>
     </ul>
     </div>
  </div>
  <div class="container main-page">
   <% if notice %>
    <br>
    <p class="alert alert-success"><%= notice %></p>
   <% end %>
   <% if alert %>
    <br>
    <p class="alert alert-danger"><%= alert %></p>
   <% end %>
  <%= yield %>
  </div>
 </nav>
</body>
</html>
